{% extends 'manager/message.html' %}
{% load staticfiles %}

{% block title %}
    客户意向管理|分配留言
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'message/css/add_message.css' %}">
    <link rel="stylesheet" href="{% static 'message/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap-select.min.css' %}">
    <script type="text/javascript" src="{% static 'manager/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block main_content %}
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block block_list_title %}手动添加留言{% endblock %}
            </div>
            <div class="panel-body">
                <form class="form_body" action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form_field">
                        <label for="{{ message_form.cust_name.id_for_label }}">{{ message_form.cust_name.label }}</label>
                        {{ message_form.cust_name }}{{ message_form.cust_name.errors }}
                    </div>
                    <div class="form_field">
                        <label for="{{ message_form.cust_mobile.id_for_label }}">{{ message_form.cust_mobile.label }}</label>
                        {{ message_form.cust_mobile }}{{ message_form.cust_mobile.errors }}
                    </div>
                    <div class="form_field">
                        <label for="{{ message_form.cust_address.id_for_label }}">{{ message_form.cust_address.label }}</label>
                        {{ message_form.cust_address }}{{ message_form.cust_address.errors }}
                    </div>
                    <div class="form_field">
                        <label for="{{ message_form.source_tag.id_for_label }}">{{ message_form.source_tag.label }}</label>
                        {{ message_form.source_tag }}{{ message_form.source_tag.errors }}
                    </div>
                    <div class="form_field">
                        <label for="{{ message_form.message.id_for_label }}">{{ message_form.message.label }}</label>
                        {{ message_form.message }}{{ message_form.message.errors }}
                    </div>
                    <div class="form_field">
                        <label for="{{ message_form.visit_record.id_for_label }}">{{ message_form.visit_record.label }}</label>
                        {{ message_form.visit_record }}{{ message_form.visit_record.errors }}
                    </div>
                    <div class="form_field" id="follow_user">
                        <label for="id_follow_user}">分配给: </label>
                        <select class="selectpicker" name="follow_user_id" id="sel_follow_user">
                            <option value="auto">自动分配</option>
                            {% for user in user_list %}
                                <option value="{{ user.pk }}">{{ user.user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">
                        {% block submit_btn %}
                            添加
                        {% endblock %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
{% endblock %}