{% extends 'manager/message.html' %}
{% load staticfiles %}

{% block title %}
    客户意向管理|管理员搜索留言
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'message/css/add_message.css' %}">
    <link rel="stylesheet" href="{% static 'message/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'manager/css/bootstrap-select.min.css' %}">
    <script type="text/javascript" src="{% static 'manager/js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block main_content %}
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block block_list_title %}根据条件搜索留言{% endblock %}
            </div>
            <div class="panel-body">
                <form class="form_body" action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="col-md-7">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="请输入客户姓名或手机号" name="search_text">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">搜索</button>
                            </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-7 -->
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_extends %}
{% endblock %}