{% extends 'manager/manager.html' %}
{% load staticfiles %}
{% block title %}
    客户意向管理|招商用户管理
{% endblock %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'manager/css/add_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block main_content %}
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block user-manage %}招商用户管理{% endblock %}
            </div>
            <div class="panel-body">
                {% for user in user_list%}
                    {{ user.username }}, {{ user.password }}, {{ user.user_num }} <br/>
                {% empty %}
                    暂无用户信息
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}