{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    客服用户登录
{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}
    <div class="login_m">
        <div class="login_logo">
            <h2>意向客户管理系统</h2>
        </div>
        <div style="font-size: 20px; color: red; text-align: center;">{{ login_form.non_field_errors }}</div>
        <div class="login_boder">

            <div class="login_padding" id="login_model">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% for field in login_form %}
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        <p class="text-danger">{{ field.errors.as_text }}</p>
                    {% endfor %}

                    <p class="forgot"><a id="iforget" href="{% url 'to_manage' %}">管理员入口&nbsp;&nbsp;</a></p>
                    <div class="rem_sub">
                        <div class="rem_sub_l">
                            <input type="checkbox" name="checkbox" id="save_me"/>
                            <label for="checkbox">记住密码</label>
                        </div>
                        <input type="submit" class="sub_button" name="button" id="button" value="登录"
                               style="opacity: 0.7;">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}