{% extends 'message/message.html' %}
{% load staticfiles %}

{% block title %}
    客户意向管理|修改密码
{% endblock %}

{% block nav_message_active %}active{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'message/css/add_message.css' %}">
    <link rel="stylesheet" href="{% static 'message/css/message.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
{% endblock %}

{% block main_content %}
    <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block user-manage %}修改密码{% endblock %}
            </div>
            <div class="panel-body">
                <form class="form_body" action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="form_field common_field">
                        <label class="common_label" for="{{ edit_password_form.old_password.id_for_label }}">{{ edit_password_form.old_password.label }}：</label>
                        <input class="input-large" name="{{ edit_password_form.old_password.name}}" placeholder="请输入原密码" type="password" style="height:30px;"/>
                        &nbsp;&nbsp;<span class="text-danger">{{ edit_password_form.old_password.errors.as_text }}</span>
                    </div>
                    <div class="form_field common_field">
                        <label class="common_label" for="{{ edit_password_form.new_password.id_for_label }}">{{ edit_password_form.new_password.label }}：</label>
                        <input class="input-large" name="{{ edit_password_form.new_password.name}}" placeholder="请输入新密码" type="password" style="height:30px;"/>
                        &nbsp;&nbsp;<span class="text-danger">{{ edit_password_form.new_password.errors.as_text }}</span>
                    </div>
                    <div class="form_field common_field">
                        <label class="common_label" for="{{ edit_password_form.new_password_again.id_for_label }}">{{ edit_password_form.new_password_again.label }}：</label>
                        <input class="input-large" name="{{ edit_password_form.new_password_again.name}}" placeholder="请再次输入新密码" type="password" style="height:30px;"/>
                        &nbsp;&nbsp;<span class="text-danger">{{ edit_password_form.new_password_again.errors.as_text }}</span>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">修改</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script_extends %}
{% endblock %}