{% extends 'base.html' %}
{% load staticfiles %}

{% load message_tags %}

{% block title %}
    客户意向管理|留言管理
{% endblock %}

{% block nav_message_active %}active{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'message/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left_content %}
                <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">我的任务</div>
                        <div class="panel-body">
                            <ul class="message-tasks">
                                <li>
                                    <a href="{% url 'message_task' 0 %}">今日任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 1 %}">明日任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 2 %}">后天任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 3 %}">历史任务</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">我的留言管理</div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="{% url 'show_message' %}">我的全部留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'unvisit_message' %}">未回访留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'add_message' %}">手动添加留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'intent_message' %}">意向组</a>
                                </li>
                                <li>
                                    <a href="{% url 'finished_message' %}">已做客户</a>
                                </li>
                                <li>
                                    <a href="{% url 'search_message' %}">留言搜索</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block main_content %}
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% block block_list_title %}{{ message_title }}{% endblock %}
                        </div>
                        <div class="panel-body">
                            {% for message in message_list %}
                                <div class="message">
                                    <div class="message-header">
                                        <div class="message-link">
                                            {% if user == message.follow_user.user %}
                                                <a href="{% url 'edit_message' message.pk %}">
                                                    {{ message.get_cust_name }}
                                                    ({{ message.cust_mobile }})
                                                </a>
                                            {% else %}
                                                {{ message.get_cust_name }}
                                                ({{ message.cust_mobile }})
                                            {% endif %}

                                        </div>
                                        {% if user.is_superuser or user == message.follow_user.user %}
                                            <div class="message-operate">
                                                {% if not user.is_superuser %}
                                                    {% if message.type == 1 or message.type == 2%}
                                                        <div class="intent" onclick="intentChange(this, {{ message.pk }})">
                                                            <span class="glyphicon glyphicon-star {% get_message_status message %}"></span>
                                                            <span class="intent-operate-text">{% get_intent_operate message %}</span>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="intent"
                                                         onclick="deleteMessage(this, {{ message.pk }}, {{ message.message_status }})">
                                                        <span class="glyphicon {% get_del_icon message %}"></span>
                                                        <span>{% get_del_operate message %}</span>
                                                    </div>
                                                    {% if message.message_status == 0 %}
                                                        |
                                                        <div class="intent" onclick="emptyMessage(this, {{ message.pk }})">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                            <span>彻底删除</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if message.type == 1 %}
                                                    <div class="trans-to"
                                                         onclick="transToOther(this, {{ message.pk }}, {{ message.follow_user.user.pk }})">
                                                        <span class="glyphicon glyphicon-hand-right"></span>
                                                        <span class="trans-to-text">转移给...</span>
                                                    </div>
                                                 {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="next-visit">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            {{ message.get_visit_date }}
                                        </div>
                                    </div>
                                    <div class="message-content">
                                        &nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {{ message.get_source_tag }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{ message.created_time|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-home"></span>
                                        {{ message.get_cust_address }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{ message.follow_user.user.username }}
                                        {% if message.last_follow_user %}
                                            <span class="glyphicon glyphicon-hand-left"></span>
                                            {{ message.last_follow_user.user.username }}
                                        {% endif %}
                                        &nbsp;&nbsp;&nbsp;
                                        {% if not user.is_superuser %}
                                            <div class="intent next-visit" onclick="intentComplete(this, {{ message.pk }})">
                                                <span class="glyphicon glyphicon-ok {% get_complete_status message %}"></span>
                                                <span class="complete-operate-text">{% get_complete_operate message %}</span>
                                            </div>
                                        {% endif %}

                                        <div class="cust-message">
                                            <span style="font-size: 14px; font-weight: bold;">客户留言：</span>
                                            {{ message.get_message }}
                                        </div>
                                        <div class="visit-record">
                                            <div class="visit-title">回访记录：</div>
                                            <div class="record-content">
                                                {{ message.get_visit_record|safe }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% empty %}
                                <div class="message">
                                    <p>{{ no_message_tip }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paginator">
                        <ul class="pagination">
                            <li>
                                {% if page_of_messages.has_previous %}
                                    <a href="?page={{ page_of_messages.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                            </li>

                            {% for page_num in page_range %}
                                {% if page_num == page_of_messages.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li>
                                {% if page_of_messages.has_next %}
                                    <a href="?page={{ page_of_messages.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
                        </ul>
                        <p>
                            共有<span class="message-count">{{ page_of_messages.paginator.count }}</span>条留言,
                            当前第{{ page_of_messages.number }}页，
                            共{{ page_of_messages.paginator.num_pages }}页
                        </p>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        function intentChange(obj, object_id) {
            var isIntented = obj.getElementsByClassName('active').length !== 0;
            var title = '确认添加意向？';
            var content = '添加意向之后，可到意向组查看！';
            if (isIntented) {
                title = '确认移除意向？';
                content = '移除意向之后，意向组中查看不到该条留言！';
            }
            $.confirm({
                title: title,
                content: content,
                buttons: {
                    confirm: {
                        text: "确认",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                url: "{% url 'intent_change' %}",
                                type: 'GET',
                                data: {
                                    object_id: object_id,
                                    is_intented: isIntented
                                },
                                cache: false,
                                success: function (data) {
                                    console.log(data);
                                    if (data['status'] === 'SUCCESS') {
                                        // 更新意向状态，更新操作文字
                                        /*
                                        var element = $(obj.getElementsByClassName('glyphicon-star'));
                                        var operateText = $(obj.getElementsByClassName('intent-operate-text'));
                                        if (isIntented) {
                                            element.removeClass('active');
                                            operateText.text('添加意向');
                                            isIntented = false;
                                            var title = "message_title";
                                            if (title === '我的意向组') {
                                                // 如果是意向组页面，需要将移除意向组的那条隐藏
                                                var messagesBody = $(obj).parents('.panel-body')[0];
                                                var messageDiv = $(obj).parents('.message')[0];
                                                messagesBody.removeChild(messageDiv);
                                                var messageCount = parseInt($('.message-count').text());
                                                messageCount--;
                                                $('.message-count').text(messageCount);
                                            }
                                        } else {
                                            element.addClass('active');
                                            operateText.text('移除意向');
                                            isIntented = true;
                                        }
                                        */
                                        window.location.reload();
                                    } else {
                                        $.alert('操作失败！');
                                    }
                                },
                                error: function (xhr) {
                                    console.log(xhr);
                                }
                            });
                        },
                    },
                    cancel: {
                        text: "取消",
                        keys: ['esc'],
                        action: function () {

                        },
                    }
                }
            });
        }

        // 用户列表全局变量
        var userList = new Array();

        function transToOther(eleObj, msgId, curUser) {
            if (eleObj.getElementsByClassName('trans-select').length !== 0) {
                return;
            }
            if (userList.length === 0) {
                $.ajax({
                    url: "{% url 'get_user_list' %}",
                    type: 'GET',
                    cache: false,
                    data: {},
                    success: function (data) {
                        userList = data['user_list'];
                        doTransUser(eleObj, msgId, curUser);
                    },
                    error: function (xhr) {
                        console.log(xhr);
                    }
                });
            } else {
                doTransUser(eleObj, msgId, curUser);
            }
        }

        function doTransUser(eleObj, msgId, curUser) {
            if (userList.length === 0) {
                return;
            }
            // 隐藏文字
            var textElem = $(eleObj).children('.trans-to-text')[0];
            $(textElem).addClass('div-hide');

            var selectHtml = '<select class="trans-select" name="trans-select" onChange="selectTransUser(this ,&quot;' + msgId + '&quot;)";>' +
                '<option value="---">--请选择--</option>';
            for (var i = 0; i < userList.length; i++) {
                var user = userList[i];
                if (user['id'] === curUser) {
                    continue;
                }
                selectHtml += '<option value=' + user['id'] + '>' + user['username'] + '</option>';
            }
            selectHtml += '</select>';
            $(eleObj).append(selectHtml);
        }

        function selectTransUser(selObj, msgId) {
            var selectVal = $(".trans-select").val();
            if (selectVal === '---') {
                return;
            }
            var transDiv = $(selObj).parent('.trans-to')[0];
            var transText = $(transDiv).children('.trans-to-text')[0];
            var selectName = $(".trans-select").find("option:selected").text();
            var selUserId = $(".trans-select").find("option:selected").val();
            // var messageDiv = $(selObj).parents('.message')[0];
            $.confirm({
                title: '确认转移留言？',
                content: '请确认是否转移给' + selectName + '?',
                buttons: {
                    confirm: {
                        text: "确认",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            // Ajax请求后台进行更新
                            $.ajax({
                                url: "{% url 'move_message' %}",
                                type: 'GET',
                                cache: false,
                                data: {
                                    message_id: msgId,
                                    user_id: selUserId
                                },
                                success: function (data) {
                                    /*
                                    $(messageDiv).remove();
                                    var messageCount = parseInt($('.message-count').text());
                                    messageCount--;
                                    $('.message-count').text(messageCount);
                                    */
                                    window.location.reload();
                                },
                                error: function (xhr) {
                                    console.log(xhr);
                                }
                            });
                        },
                    },
                    cancel: {
                        text: "取消",
                        keys: ['esc'],
                        action: function () {
                            $(selObj).remove();
                            $(transText).removeClass('div-hide');
                        },
                    }
                }
            });
        }

        //删除资源(移入回收站)
        function deleteMessage(cliObj, msgId, messageStatus) {
            var titleText = '确认删除留言？';
            var contentText = '请确认是否删除此条资源？ 删除之后可以到回收站查看或恢复！';
            if (messageStatus === 0) {
                titleText = '确认恢复留言？';
                contentText = '请确认是否恢复此条资源？ 恢复之后即可对其进行正常操纵！';
            }
            $.confirm({
                title: titleText,
                content: contentText,
                buttons: {
                    confirm: {
                        text: "提示",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            // Ajax请求后台进行更新
                            $.ajax({
                                url: "{% url 'change_status' %}",
                                type: 'GET',
                                cache: false,
                                data: {
                                    message_id: msgId,
                                    message_status: messageStatus
                                },
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (xhr) {
                                    console.log(xhr);
                                }
                            });
                        },
                    },
                    cancel: {
                        text: "取消",
                        keys: ['esc'],
                        action: function () {

                        },
                    }
                }
            });
        }

        // 从回收站删除（永久删除！）
        function emptyMessage(cliObj, msgId) {
            $.confirm({
                title: '确认彻底删除资源？',
                content: '请确认彻底删除此条资源？ 彻底删除后再也无法恢复！ 请谨慎操作！！！',
                buttons: {
                    confirm: {
                        text: "警告",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            // Ajax请求后台进行更新
                            $.ajax({
                                url: "{% url 'del_message' %}",
                                type: 'GET',
                                cache: false,
                                data: {
                                    message_id: msgId,
                                },
                                success: function (data) {
                                    window.location.reload();
                                },
                                error: function (xhr) {
                                    console.log(xhr);
                                }
                            });
                        },
                    },
                    cancel: {
                        text: "取消",
                        keys: ['esc'],
                        action: function () {

                        },
                    }
                }
            });
        }

        function intentComplete(obj, object_id) {
            var isCompleted = obj.getElementsByClassName('active').length !== 0;
            var title = '提示';
            var content = '确认将该客户标记为已完成？';
            if (isCompleted) {
                content = '确认将该客户恢复至未完成？';
            }
            $.confirm({
                title: title,
                content: content,
                buttons: {
                    confirm: {
                        text: "确认",
                        btnClass: 'btn-primary',
                        keys: ['enter'],
                        action: function () {
                            $.ajax({
                                url: "{% url 'complete_change' %}",
                                type: 'GET',
                                data: {
                                    object_id: object_id,
                                    is_completed: isCompleted
                                },
                                cache: false,
                                success: function (data) {
                                    if (data['status'] === 'SUCCESS') {
                                        window.location.reload();
                                    } else {
                                        $.alert('操作失败！');
                                    }
                                },
                                error: function (xhr) {
                                    console.log(xhr);
                                }
                            });
                        },
                    },
                    cancel: {
                        text: "取消",
                        keys: ['esc'],
                        action: function () {

                        },
                    }
                }
            });
        }
    </script>
{% endblock %}