{% extends 'base.html' %}
{% load staticfiles %}

{% load message_tags %}

{% block title %}
    客户意向管理|留言管理
{% endblock %}

{% block nav_message_active %}active{% endblock %}

{% block header_extends %}
    <link rel="stylesheet" href="{% static 'message/css/message.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'message/js/message.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% block left_content %}
                <div class="hidden-xs col-sm-3 col-md-2 col-lg-2">
                    <div class="panel panel-default">
                        <div class="panel-heading">我的任务</div>
                        <div class="panel-body">
                            <ul class="message-tasks">
                                <li>
                                    <a href="{% url 'message_task' 0 %}">今日任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 1 %}">明日任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 2 %}">后天任务</a>
                                </li>
                                <li>
                                    <a href="{% url 'message_task' 3 %}">历史任务</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">我的留言管理</div>
                        <div class="panel-body">
                            <ul>
                                <li>
                                    <a href="{% url 'show_message' %}">我的全部留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'unvisit_message' %}">未回访留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'add_message' %}">手动添加留言</a>
                                </li>
                                <li>
                                    <a href="{% url 'intent_message' %}">意向组</a>
                                </li>
                                <li>
                                    <a href="{% url 'finished_message' %}">已做客户</a>
                                </li>
                                <li>
                                    <a href="{% url 'search_message' %}">留言搜索</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block main_content %}
                <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            {% block block_list_title %}{{ message_title }}{% endblock %}
                        </div>
                        <div class="panel-body">
                            {% for message in message_list %}
                                <div class="message">
                                    <div class="message-header">
                                        <div class="message-link">
                                            {% if user == message.follow_user.user %}
                                                <a href="{% url 'edit_message' message.pk %}?from={{ request.get_full_path }}">
                                                    {{ message.get_cust_name }}
                                                    ({{ message.cust_mobile }})
                                                </a>
                                            {% else %}
                                                {{ message.get_cust_name }}
                                                ({{ message.cust_mobile }})
                                            {% endif %}

                                        </div>
                                        {% if user.is_superuser or user == message.follow_user.user %}
                                            <div class="message-operate">
                                                {% if not user.is_superuser %}
                                                    {% if message.type == 1 or message.type == 2%}
                                                        <div class="intent" onclick="intentChange(this, {{ message.pk }})">
                                                            <span class="glyphicon glyphicon-star {% get_message_status message %}"></span>
                                                            <span class="intent-operate-text">{% get_intent_operate message %}</span>
                                                        </div>
                                                    {% endif %}
                                                {% else %}
                                                    <div class="intent"
                                                         onclick="deleteMessage(this, {{ message.pk }}, {{ message.message_status }})">
                                                        <span class="glyphicon {% get_del_icon message %}"></span>
                                                        <span>{% get_del_operate message %}</span>
                                                    </div>
                                                    {% if message.message_status == 0 %}
                                                        |
                                                        <div class="intent" onclick="emptyMessage(this, {{ message.pk }})">
                                                            <span class="glyphicon glyphicon-trash"></span>
                                                            <span>彻底删除</span>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                                {% if message.type == 1 %}
                                                    <div class="trans-to"
                                                         onclick="transToOther(this, {{ message.pk }}, {{ message.follow_user.user.pk }})">
                                                        <span class="glyphicon glyphicon-hand-right"></span>
                                                        <span class="trans-to-text">转移给...</span>
                                                    </div>
                                                 {% endif %}
                                            </div>
                                        {% endif %}
                                        <div class="next-visit">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                            {{ message.get_visit_date }}
                                        </div>
                                    </div>
                                    <div class="message-content">
                                        &nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-tag"></span>
                                        {{ message.get_source_tag }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-time"></span>
                                        {{ message.created_time|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-home"></span>
                                        {{ message.get_cust_address }}&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-user"></span>
                                        {{ message.follow_user.user.username }}
                                        {% if message.last_follow_user %}
                                            <span class="glyphicon glyphicon-hand-left"></span>
                                            {{ message.last_follow_user.user.username }}
                                        {% endif %}
                                        &nbsp;&nbsp;&nbsp;
                                        {% if not user.is_superuser and user == message.follow_user.user %}
                                            <div class="intent next-visit" onclick="intentComplete(this, {{ message.pk }})">
                                                <span class="glyphicon glyphicon-ok {% get_complete_status message %}"></span>
                                                <span class="complete-operate-text">{% get_complete_operate message %}</span>
                                            </div>
                                        {% endif %}

                                        <div class="cust-message">
                                            <span style="font-size: 14px; font-weight: bold;">客户留言：</span>
                                            {{ message.get_message }}
                                        </div>
                                        <div class="visit-record">
                                            <div class="visit-title">回访记录：</div>
                                            <div class="record-content">
                                                {{ message.get_visit_record|safe }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            {% empty %}
                                <div class="message">
                                    <p>{{ no_message_tip }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="paginator">
                        <ul class="pagination">
                            <li>
                                {% if page_of_messages.has_previous %}
                                    <a href="?page={{ page_of_messages.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}
                            </li>

                            {% for page_num in page_range %}
                                {% if page_num == page_of_messages.number %}
                                    <li class="active"><span>{{ page_num }}</span></li>
                                {% else %}
                                    {% if page_num == '...' %}
                                        <li><span>{{ page_num }}</span></li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <li>
                                {% if page_of_messages.has_next %}
                                    <a href="?page={{ page_of_messages.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}
                            </li>
                        </ul>
                        <p>
                            共有<span class="message-count">{{ page_of_messages.paginator.count }}</span>条留言,
                            当前第{{ page_of_messages.number }}页，
                            共{{ page_of_messages.paginator.num_pages }}页
                        </p>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        window.intent_change =  "{% url 'intent_change' %}";
        window.get_user_list =  "{% url 'get_user_list' %}";
        window.move_message =  "{% url 'move_message' %}";
        window.change_status =  "{% url 'change_status' %}";
        window.del_message =  "{% url 'del_message' %}";
        window.complete_change =  "{% url 'complete_change' %}";
    </script>
{% endblock %}